<!DOCTYPE html>
<html>
    <head>
        <title>SWB</title>
        <link
            rel="icon"
            href="https://scontent-ams2-1.xx.fbcdn.net/v/t39.30808-6/250113554_2979667399027937_2186578159573462143_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_ohc=ClaJAvkvPZoQ7kNvgHQ9gsT&_nc_ht=scontent-ams2-1.xx&oh=00_AfCPot2E5WvOc583K-C_nr6esHkyHVDvXZQBrQ0ZmlOJ8Q&oe=663AD7FC"
            type="image/x-icon" />
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>

    <!-- <div class="container-fluid p-0"> -->

    <nav
        class="navbar navbar-expand-md navbar-dark bg-dark justify-content-center py-4">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center"
            id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto align-items-center">
                <li class="h3 nav-item">
                    <a class="navbar-brand mx-5" href="#">
                        <img
                            src="https://scontent-ams2-1.xx.fbcdn.net/v/t39.30808-6/250113554_2979667399027937_2186578159573462143_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_ohc=ClaJAvkvPZoQ7kNvgHQ9gsT&_nc_ht=scontent-ams2-1.xx&oh=00_AfCPot2E5WvOc583K-C_nr6esHkyHVDvXZQBrQ0ZmlOJ8Q&oe=663AD7FC"
                            width="150" alt="BIFA Logo">
                    </a>
                </li>
                <li class="nav-item active h1">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item h1">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </div>
    </nav>

    <body>
        <div class="container-fluid bg-dark">
            <div class="row">
                <div class="col-0 col-md-1 col-xl-2 bg-dark"></div>

                <div class="col-12 col-md-10 col-xl-8 bg-dark">
                    <img class="img-fluid rounded "
                        src="https://scontent-ams4-1.xx.fbcdn.net/v/t31.18172-8/17492729_1775225932805429_4975765287265415785_o.jpg?_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_ohc=R_yvUgM7pS0Q7kNvgEEx3j_&_nc_ht=scontent-ams4-1.xx&oh=00_AfDZ2cxwXVfO-O1YzDDaayCT65JFKz5ZpOCxcZvw6ge8rQ&oe=665C7410"
                        alt="Coal Project">
                </div>

                <div class="col-0 col-md-1 col-xl-2 bg-dark"></div>

            </div>
        </div>
    </body>

</html>