<!DOCTYPE html>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
<html>
    <head>
        <title>SWB</title>
        <link
            rel="icon"
            href="{% static 'swb_logo.png' %}"
            type="image/x-icon" />
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>

    <nav
        class="navbar navbar-dark bg-dark justify-content-center py-1 p-sm-4">
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->

        <div
            class="container-fluid collapse navbar-collapse bg-dark justify-content-center">
            <div class="row">
                <div
                    class="col align-self-center d-flex justify-content-end nav-item p-2 px-sm-4 px-lg-5">
                    <a class="nav-link p-0" href="#">
                        <img class="img-fluid rounded"
                            src="{% static 'swb_logo.png' %}"
                            width="150" alt="SWB Logo">
                    </a>
                </div>

                <div
                    class="col align-self-center d-flex justify-content-center nav-item p-2 px-sm-4 px-lg-5">
                    <a class="nav-link p-0" href="#">
                        <img class="img-fluid rounded"
                            src="{% static 'bifa_logo.jpg' %}"
                            width="135" alt="BIFA Logo">
                    </a>
                </div>

                <div
                    class="col align-self-center d-flex justify-content-start nav-item p-2 px-sm-4 px-lg-5">
                    <a class="nav-link p-0" href="#">
                        <img class="img-fluid rounded"
                            src="{% static 'coal_logo.jpg' %}"
                            width="150" alt="Coal Project Logo">
                    </a>
                </div>

            </div>
        </div>
    </nav>

    <body>

        <div class="container-fluid bg-dark py-4">

            <div class="row">
                <div class="col-6 d-flex align-items-center">
                    <div class="row ">
                        <div class="col-0 col-xl-6"></div>

                        <div
                            class="col-12 col-xl-6 bg-dark d-grid gap-2 justify-content-center">
                            <p
                                class="text-light text-center fw-bold banner-text my-1 my-md-2">Lorem
                                ipsum dolor sit amet,
                                consectetur adipiscing elit. Ut scelerisque
                                pretium suscipit.</p>
                            <button type="button"
                                class="btn btn-primary m-0 m-md-3 p-1 p-md-3 btn-lg banner-text fw-bold">VISIT
                                PAGE</button>
                        </div>

                    </div>

                </div>

                <div class="col-6 bg-dark p-0 p-sm-3 p-lg-5">
                    <img
                        src="{% static 'mongolia_image.jpg' %}"
                        class="d-block w-100 rounded pe-xl-5" alt="...">
                </div>

            </div>

        </div>

    </body>

</html>